{% extends "basepage.html" %}
{% block title %}Something Went Wrong!{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
	<!--404 error page sourced from http://bootsnipp.com/snippets/featured/simple-404-not-found-page-->
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="error-template">
					<h1>Oops!</h1>
					<h2>Error: 404 Not Found</h2>
					<div class="error-details">
						Sorry, an error has occured. Requested page not found!
					</div>
					<div class="error-actions">
						<a href="{{url_for('index')}}" class="btn btn-primary btn-lg">
							<span class="glyphicon glyphicon-home"></span> Go Back </a>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
