{% extends "basepage.html" %}
{% block title %}Fullstack Project - Item Catalog{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
	<div class="container">
		<div class="row">
			{% if not cuisine %}
				<p>Cuisine not found.</p>
			{% else %}
			<form action="{{ url_for('deleteCuisine', c_id = cuisine.id) }}" method='post' >
				<div class='row'>
					<div class='col-xs-4'>
						<label for="Form"><h3><strong>Confirm Delete:</strong></h3></label>
					</div>
				</div>
				<div class='row'>
					<div class='col-xs-4'>
						Are you sure you want to delete {{cuisine.name}}?
					</div>
				</div>
				<br>
				<div class='row'>
					<div class='col-xs-4'>
						<button class='btn btn-danger btn-md'> <i class='fa fa-trash-o'></i>  Delete Cuisine </button>
					</div>
				</div>
			</form>
			{% endif %}
		</div>
	</div>
{% endblock %}
