{% extends "basepage.html" %}
{% block title %}View a Cuisine{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
	<div class='container'>
		<div class='row'>
			<div class='col-xs-8'>
				<h3><strong>{{cuisine.name}} Dishes </strong></h3>
			</div>
		</div>
		<br>
		<div class='row'>
			<div class='col-xs-2'>
				<a href={{url_for('newDish', c_id=cuisine.id)}} 
					class="btn btn-primary btn-md"> <i class='fa fa-plus-square'></i> Add a Dish </a>
			</div>
		</div>
		<br>
		<div class='row'>
			<div class='col-xs-2'>
				<a href={{url_for('deleteCuisine', c_id=cuisine.id)}} 
					class="btn btn-danger btn-md"> <i class='fa fa-trash-o'></i> Delete this Cuisine </a>
			</div>
		</div>
		{% if not dishes %}
		<br>
		<div class='row'>
			<div class='col-xs-4'>
				<strong>This cuisine has no dishes yet!</strong>
			</div>
		</div>
		{% else %}
			<br>
			<div class="table-responsive">
				<table class="table table-striped">
				  <thead>
					<tr>
					  <th>ID #</th>
					  <th>Name</th>
					  <th>Description</th>
					  <th>JSON</th>
					  <th>Edit</th>
					  <th>Delete</th>
					</tr>
				  </thead>
				  <tbody>
					{% for d in dishes %}
					<tr>
					  <td>{{d.id}}</td>
					  <td><a href={{url_for('viewDish', c_id=d.cuisine_id, d_id=d.id)}}>{{d.name}}</a></td>
					  <td>{{d.description}}</td>
					  <td>
						<a href={{url_for('viewDishJSON', c_id=d.cuisine_id, d_id=d.id)}} 
						class="btn btn-primary btn-sm"> <i class='fa fa-file-text-o'></i></a>
					  </td>
					  <td>				
						<a href={{url_for('editDish', c_id=d.cuisine_id, d_id=d.id)}} 
						class="btn btn-info btn-sm"> <i class='fa fa-edit'></i></a></td>
					  <td>
						<a href={{url_for('deleteDish', c_id=d.cuisine_id, d_id=d.id)}} 
						class="btn btn-danger btn-sm"> <i class='fa fa-trash-o'></i></a>
					  </td>
					</tr>
					{% endfor %}
				  </tbody>
				</table>
			</div>
		{% endif %}
		</div>
	</div>
{% endblock %}
