{% extends "basepage.html" %}
{% block title %}Fullstack Project - Item Catalog{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
	<div class='container'>
		{% with d = dish %}
			<div class='row'>
				<div class='col-xs-8'>
					{{d.cuisine.name}}: {{d.name}}
				</div>
			</div>
			<div class='row'>
				<div class='col-xs-8'>
					{{d.description}}
				</div>
			</div>
			<div class='row'>
				<div class='col-xs-1'>
					<a href={{url_for('editDish', c_id=d.cuisine_id, d_id=d.id)}} 
					class="btn btn-primary btn-sm"><i class='fa fa-edit'></i> Edit </a>
				</div>
				<div class='col-xs-1'>
					<a href={{url_for('deleteDish', c_id=d.cuisine_id, d_id=d.id)}} 
					class="btn btn-danger btn-sm"><i class='fa fa-trash-o'></i> Delete </a>
				</div>
			</div>
		{% endwith %}
	</div>
{% endblock %}
