{% extends "basepage.html" %}
{% block title %}Fullstack Project - Item Catalog{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
	<div class='container'>
    {% with d = dish %}
        <div class='row'>
            <div class='col-xs-3'>
            {% if d.image_path and path_check(d.image_path|safe) %}
                <img class="img-responsive" src="{{ url_for('static', filename='../'+d.image_path|safe) }}">
            {% else %}
                <img class="img-responsive" src="{{ url_for('static', filename='img/default.jpg') }}">
            {% endif %}
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>ID #</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Creation Time</th>
                    <th>Owner ID #</th>
                    <th>JSON</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>{{d.id}}</td>
                    <td>{{d.name}}</td>
                    <td>{{d.description}}</td>
                    <td>{{d.creation_time}}</td>
                    <td>{{d.owner_id}}</td>
                    <td>
                    <a href={{url_for('viewDishJSON', c_id=d.cuisine_id, d_id=d.id)}} 
                    class="btn btn-primary btn-sm"> <i class='fa fa-file-text-o'></i></a>
                    </td>
                    <td>				
                    <a href={{url_for('editDish', c_id=d.cuisine_id, d_id=d.id)}} 
                    class="btn btn-info btn-sm"> <i class='fa fa-edit'></i></a></td>
                    <td>
                    <a href={{url_for('deleteDish', c_id=d.cuisine_id, d_id=d.id)}} 
                    class="btn btn-danger btn-sm"> <i class='fa fa-trash-o'></i></a>
                    </td>
                </tr>
                </tbody>
				</table>
			</div>
		{% endwith %}
	</div>
{% endblock %}
