{% extends "basepage.html" %}
{% block title %}Fullstack Project - Item Catalog{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
    {% with messages = get_flashed_messages() %}
    {% if messages and cuisine_id and dish_id%}
    <div class="container-fluid">
        <div class='row'>
            <div class='col-xs-8'>
                <strong> {{messages[0]}} </strong>
            </div>
        </div>
        <div class='row'>
            <div class='col-xs-2'>
                <a href={{url_for('viewDish', c_id=cuisine_id, d_id=dish_id)}}> 
                    <button class='btn btn-primary btn-sm'> <i class='fa fa-external-link-square'></i>  View Dish </button>
                </a> 
            </div>
        </div>
    </div>
    </p>
    <br>
    {% endif %}
    {% endwith %}

    <div class='container'>
        <form action="{{ url_for('newDish', c_id=cuisine_id) }}" method='post' enctype=multipart/form-data>
        <div class='row'>
            <div class='col-xs-2'>
                <label for="name">Dish Name: </label>
            </div>
            <div class='col-xs-4'>
                <input class='form-control' type="text" name="name" required=""/>
            </div>
        </div>
        <div class='row'>
            <div class='col-xs-2'>
                <label for="description">Dish Description: </label>
            </div>
            <div class='col-xs-4'>
                <input class='form-control' type="text" name="description" required=""/>
            </div>
        </div>
        <div class='row'>
            <div class='col-xs-2'>
                <label for="image">Dish Image: </label>
            </div>
            <div class='col-xs-4'>
                <input class='form-control' type="file" name="image" accept="image/*">
            </div>
        </div>
        <div class='row'>
            <div class='col-xs-1'>
                <button class='btn btn-primary btn-md'> 
                    <i class='fa fa-plus-square'></i> Add Dish 
                </button>
            </div>
        </div>
        </form>
    </div>
{% endblock %}
