{% extends "basepage.html" %}
{% block title %}Edit a Dish{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
    {% with messages = get_flashed_messages() %}
    {% if messages and dish and cuisine_id %}
    <div class='container'>
        <div class='row'>
            <div class='col-xs-8'>
                <strong> {{messages[0]}} </strong>
            </div>
        </div>
        <div class='row'>
            <div class='col-xs-2'>
                <a href={{url_for('viewDish', c_id=cuisine_id, d_id=dish.id)}}> 
                <button class='btn btn-primary btn-sm'> <i class='fa fa-external-link-square'></i>  View Dish </button>
                </a> 
            </div>
        </div>
    </div>
    </p>
    <br>
    {% endif %}
    {% endwith %}

    <div class='container'>
        <form action="{{ url_for('editDish', c_id=cuisine_id, d_id=dish.id) }}" method='post' enctype=multipart/form-data>
        <div class='row'>
            <div class='col-xs-2'>
                <label for="name">Dish Name: </label>
            </div>
            <div class='col-xs-4'>
                <input class='form-control' type="text" placeholder="{{ dish.name }}" name="name"/>
            </div>
        </div>
        <div class='row'>
            <div class='col-xs-2'>
                <label for="description">Dish Description: </label>
            </div>
            <div class='col-xs-4'>
                <input class='form-control' type="text" placeholder="{{ dish.description }}" name="description"/>
            </div>
        </div>
        <div class='row'>
            <div class='col-xs-2'>
                <label for="image">Dish Image: </label>
            </div>
            <div class='col-xs-4'>
                <input class='form-control' type="file" name="image" accept="image/*">
            </div>
        </div>
        <div class='row'>
            <div class='col-xs-1'>
                <button class='btn btn-info btn-md'> <i class='fa fa-edit'></i>  Edit Dish </button>
            </div>
        </div>
        </form>
    </div>
{% endblock %}
