{% extends "basepage.html" %}
{% block title %}Fullstack Project - Item Catalog{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
    <h2 class='text-center'> Add New Cuisine </h2>
    <br>
    {% with messages = get_flashed_messages() %}
    {% if messages and cu_id%}
    <div class='container'>
        <div class='row'>
            <div class='col-xs-8'>
                <strong> {{messages[0]}} </strong>
            </div>
        </div>
        <div class='row'>
            <div class='col-xs-2'>
                <a href={{url_for('viewCuisine', c_id=cu_id)}}> 
                    <button class='btn btn-primary btn-sm'> <i class='fa fa-external-link-square'></i>  View Cuisine </button>
                </a> 
            </div>
        
        </div>
    </div>
    <br>
    {% endif %}
    {% endwith %}

    <div class='container'>
        <form action="{{ url_for('newCuisine', state=nonce) }}" method='post'>
        <div class='row'>
            <div class='col-xs-4'>
                <label for="name">Please enter the Cuisine Name: </label>
            </div>
        </div>
        <div class='row'>
            <div class='col-xs-4'>
                <input type="text" name="name" placeholder=" e.g. Chinese, Italian " required=""/>
                <button class='btn btn-primary btn-md'> <i class='fa fa-plus-square'></i>  Add Cuisine </button>
            </div>
        </div>
        </form>
    </div>
{% endblock %}
