{% extends "basepage.html" %}
{% block title %}Fullstack Project - Item Catalog{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
			<li class="active"><a href="#">Cuisines <span class="sr-only"></span></a></li>
			<li><a href="{{url_for('newCuisine')}}"> Add Cuisine </a></li>
			<hr>
            {% for cuisine in cuisines %}
				<li><a href="{{url_for('viewCuisine', c_id=cuisine.id)}}"> {{cuisine.name}} </a></li>
			{% else %}
				<li> No cuisines so far.</li>
			{% endfor %}
          </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header">Recently Added Dishes</h1>
          <div class="row placeholders">
			{% for dish in dishes %}
              <div class="col-xs-6 col-sm-3 placeholder">
			  {% if dish.image_path and path_check(dish.image_path)%}
				<img class="img-responsive" src="{{dish.image_path|safe}}">
              {% else %}
				<img class="img-responsive" src="{{ url_for('static/img', filename='default.jpg') }}">
              {% endif %}
                <h4>{{dish.cuisine.name}} <br> 
                <a href="{{url_for('viewDish', c_id=dish.cuisine_id, d_id=dish.id)}}"> {{dish.name}} </a></h4>
                <span class="text-muted">Created {{ times[loop.index0] }} ago.</span>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
{% endblock %}
